body {
    padding: 0px 10px;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    color: white;
    background: url('http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/1098/full/seamless-paper-patterns-5.jpg');
}

#container {
    display: flex;
    display: -webkit-flex;
    max-width: 1200px;
    min-width: 800px;
    background: black;
    background-size: cover !important;
    background-position: center !important;
    height: 700px;
    border-radius: 30px;
    -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.part {
    width: 100%;
}

#leftContainer {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#textContainer {
    margin: 15px;
}

#centralCardContainer {
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cardHolder {
    height: 400px;
    width: 300px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: auto;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#score {
    padding-top: 300px;
    margin: auto;
    color: black;
}

#rightContainer {
    color: white;
    
}

#rightMargin {
    margin: 15px;
}

.upgrade {
    color: white;
    width: 100%;
    height: 70px;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    line-height: 35px;
    padding: 0px 10px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('http://bnetcmsus-a.akamaihd.net/cms/blog_header/1EBGXH0X9GKU1396311421844.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}